.Pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
}

.Pokedex h1 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #2f3542;
}