.pokemon-list {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 1rem;
}

.pokemon-list-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.pokemon-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.pokemon-list-pagination {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 3rem 0 1rem;
}

.pokemon-list-pagination button {
    padding: 0.6rem 1.6rem;
    font-size: 1rem;
    font-weight: 600;

    border: none;
    border-radius: 30px;
    cursor: pointer;

    background-color: #ef5350;
    color: #ffffff;

    transition: all 0.3s ease;
}

.pokemon-list-pagination button:hover {
    background-color: #d32f2f;
    transform: translateY(-2px);
}

.pokemon-list-pagination button:active {
    transform: scale(0.96);
}


.pokemon-list-pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    transform: none;
}